.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .text{
      text-align-last: center
  };
// div{
//     background-image: url('/assets/bmw.jpg');
// }
// .mat-row:hover{
// background-color: darkgray;
// }

  