<mat-card class="col-md-4" style="margin:auto; margin-top: 100px;">
  <mat-card-header class="bg-info text-light mb-1 pt-1">
    <mat-card-title><mat-icon class="mr-2">people</mat-icon> Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form [formGroup]="headForm" (ngSubmit)="simsSave()">

        <mat-form-field class="col-md-12 col-12" hintLabel="Max 24 characters">
            <input matInput #input maxlength="24" placeholder="Username" [formControl]="emailFormControl">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid username
            </mat-error>
          </mat-form-field>


          <mat-form-field class="col-12">
            <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          
        <mat-form-field class="col-md-6 col-6">
          <input type="number" matInput maxlength="5" placeholder="Company Code" formControlName="company_code">
        </mat-form-field>

          </form>
  </mat-card-content>
  <mat-card-actions class="bg-warning text-center pb-2">
    <button mat-raised-button class="bg-success text-light" (click)="simsSave()"><mat-icon>input</mat-icon> Login</button>
  </mat-card-actions>
</mat-card>