<main role="main" class="container" style="margin-top: -100px">
<div class="col-md-12 border">
<div class="col-md-12">
<div class=" row ">
	<div class="col-md-6 col-6">
		<div class="row">
			<div class="col-8 col-md-8 border-bottom border-right">
	<div class="">
		<div class="font-weight-bold h6">NRM TEX</div>
		<small>S.F No.3/186, E(6), Chinniya Gounden Pudur,
        Cheran AvenueAndipalayam PO,Tirupur - 641687
        Tamil Nadu [30].INDIA
     Phone:9688514649,9894514649 E-Mail:info@pinkygirls.com<br></small>
			GSTIN :<b>33AXSPM0407G1ZM</b>
			</div>
		</div>
		<div class="col-4 col-md-4 border-bottom pl-1 text-center align-middle align-text-middle">
			<br>
			<img class="" width="130px" height="42px" src="assets/image/logo.png">
		</div>
		
	<div class="col-12 col-md-12 border-right">
		<span class="pl-1"><i>Invoice to</i></span><br>
    <div class="pl-3 text-left">
    <b>THULASI GARMENTS</b>
      <br>
       Address :5/2 T.S.R.LAYOUT 6TH STREET,KONGU MAIN ROAD,TIRUPUR-641602<br>
 Contact :9952443770 
  GstNo :33BYXPS2327A1ZD

    </div>
		</div>	
		</div>
	</div>
	<div class="col-md-6 col-6 border-right">
		<div class="col-12 col-md-12 bg-heading text-center font-weight-bold h5">DELIVERY NOTE</div>
		<table class="table table-sm table-borderless">
			<tr class="border-bottom"><td><i>D.C No</i></td><td class="border-right text-left border-left"><b class="pl-1">73</b></td><td><i>Dated</i></td><td class="text-left border-left"><b class="pl-1">29-04-2019</b></td></tr>
			<tr class="border-bottom"><td><i>Process</i></td><td class="border-left"><b class="pl-1 ">Stiching</b></td><td class="border-left"><i>HSN Code</i></td><td class="border-left"><b class="pl-1 ">53091910</b></td></tr>
			<tr class="border-bottom"><td><i>Order No</i></td><td class="border-left"><b class="pl-1 ">049</b></td><td class="border-left"><i>Vehicle No</i></td><td class="border-left"><b class="pl-1 ">taeasd</b></td></tr>
				<tr class="border-bottom"><td><i>Product</i></td><td class="border-right border-left"><b class="pl-1">Label 1044 Nos
          </b></td><td></td><td></td></tr>
                <tr></tr>
			</table>
		<div class="row">
			<table class="pl-2">
			<tr>
<td class="text-left border-right text-center bg-warning font-weight-bold" >ACCESSORIES</td>
				</tr>	

<tr>
<td class="text-left border-right text-right" ><span class="col-md-8 text-right">R.Blue	</span> <span class="col-md-4 text-left">144 Pcs</span></td>
</tr>
</table>
		</div>
</div>
	</div>
	<hr>
</div>	
	
<div class="col-12 col-md-12">
<table id="" class="table table-sm  table-borderless" >
<tr class="bg-light font-weight-bold text-center align-middle border-bottom">

<td class="border-right">COLOR</td>
<td class="border-right" style="width:100px">XL</td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px"></td>
<td class="border-right" style="width:100px">QTY</td>

</tr>
<tbody class="">

<tr>
<td class="text-left border-right" >R.Blue	</td>
<td class="text-center border-right">144</td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-center border-right"></td>
<td class="text-right border-right">144 Pcs</td>
</tr>

</tbody>
<tfoot >
<tr class="bg-light border-top">

<td class="text-right border-right">GRAND TOTAL</td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>
<td class="text-center border-right"><b></b></td>

<td class="text-right font-weight-bold border-right">1044 Pcs  </td>
</tr>
</tfoot>

<tr>

</tr>

</table>
</div>	
<div  class="col-12 col-md-12" >
<div class="row">
<div class="col-md-6 col-6 border-top border-bottom">
<u><i>Terms</i></u><br>
<ul>
	<li>Any discrepancy found in this invoice should be notified imediately Subject to "Tirupur Jurisdiction only."</li>
	</ul>
</div>	
<div class="col-md-3 border align-bottom text-center">
	<br><br>
Receiver's Seal Signature
</div>
<div class="col-md-3 text-right pr-3 align-middle border-top border-bottom">
For <b> NRM KNIT TEX </b>
<br><br>
</div>
</div>
</div>	
<div class="text-center bg-warning font-weight-bold pr-1 text-danger">ALL KIND OF MAILS</div>
</div>	
	</main>