<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar bg-dark text-light d-print-none" *ngIf="currentUser">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>list</mat-icon></button>
        <h1 class="example-app-name">CloudERP<small class="text-danger pl-2">v4</small></h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container example-sidenav bg-white">
        <mat-sidenav class="text-light d-print-none" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="text-dark bg-white d-print-none" *ngIf="currentUser">
                <!--<a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
                <a mat-list-item routerLink=".">Dashboard</a>
                <span mat-list-item class="text-info pl-2 font-weight-bold">Master</span>
                <a mat-list-item routerLink="payroll/employee">Employee</a>
                <a mat-list-item routerLink="payroll/employee_category">Employee Category</a>
                <a mat-list-item routerLink="payroll/payroll_settings">Payroll Settings</a>
                <a mat-list-item routerLink="payroll/shift">Shift</a>
                <a mat-list-item routerLink="payroll/shift_compliance">ShiftCompliance</a>
                <a mat-list-item routerLink="payroll/department">Department</a>
                <a mat-list-item routerLink="payroll/designation">Designation</a>
                <a mat-list-item routerLink="payroll/bank">Bank</a>
                <a mat-list-item routerLink="payroll/branch">Branch</a>
                <a mat-list-item routerLink="payroll/leave_type">Leave Type</a>


                <span mat-list-item class="text-info pl-2 font-weight-bold">Entry</span>
                <a mat-list-item routerLink="payroll/">Attanance</a>
                <a mat-list-item routerLink="payroll/">Time Log</a>
                <a mat-list-item routerLink="payroll/time_punch">Time Punch</a>
                <a mat-list-item routerLink="payroll/holidays">Holidays</a>
                <a mat-list-item routerLink="payroll/salary_compliance">Salary Compliance</a>
                <a mat-list-item routerLink="payroll/employee_leave">Employee Leave</a>

                <span mat-list-item class="text-info pl-2 font-weight-bold">Report</span>
                <a mat-list-item routerLink="payroll/payroll_report/weekly_salary_report">Weekly Salary Report</a>
                <a mat-list-item routerLink="payroll/">Attendance</a>
                <a mat-list-item routerLink="payroll/attendance_register">Register</a>
                <a mat-list-item routerLink="payroll/">Bonus</a>
                <a mat-list-item routerLink="payroll/">Punch</a>


                <span mat-list-item class="text-info pl-2 font-weight-bold">Compliance Report</span>
                <a mat-list-item routerLink="payroll/payroll_report/timecard_compliance">Timcard</a>
                <!-- <a mat-list-item routerLink="payroll/payroll_report/overtime_compliance">Overtime</a>
        <a mat-list-item routerLink="payroll/payroll_report/attendance_compliance">Attendance</a> -->
                <a mat-list-item routerLink="payroll/payroll_report/appointment_order">Appointment Order</a>
                <a mat-list-item routerLink="payroll/payroll_report/device_logs">Device Logs</a>
                <a mat-list-item routerLink="payroll/payroll_report/bio_data">Bio Data</a>
                <a mat-list-item routerLink="payroll/payroll_report/payslip_compliance">Payslip Compliance</a>
                <a mat-list-item routerLink="payroll/payroll_report/training_record">Training Record</a>
                <a mat-list-item routerLink="payroll/payroll_report/service_record">Service Record</a>
                <a mat-list-item routerLink="payroll/payroll_report/nomination_form">Nomination Form 34</a>
                <a mat-list-item routerLink="payroll/payroll_report/nomination_f">Nomination Form F</a>
                <a mat-list-item routerLink="payroll/payroll_report/punch_log_betweendate">Punch Log Betweendate</a>

                <a routerLink="logout" class="btn btn-sm btn-outline-info text-center col-12">Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>