<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large uk-animation-slide-top-medium">
            <h1><span uk-icon="credit-card"></span> Lorem</h1>

            <p>Lorem</p>
            <ul class="uk-breadcrumb">
                <li><a href="#">Lorem</a></li>
                <li><span href="">Lorem</span></li>
                <li><span href="">Lorem</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-small content-padder content-background">
        <div class="container">
            <mat-card>
                <div class="mat-tab-fix">
                    <mat-tab-group>
                        <mat-tab class="tabs" label="Tab 1">

                            <h2 style="padding-top: 30px;">
                                <span>Lorem</span>
                            </h2>

                            <div class="card-layout">
                                <div class="card-column-1">

                                    <mat-form-field hideRequiredMarker>
                                        <input matInput placeholder="Importe Recarga" required/>
                                        <mat-hint align="start" matTooltip="Ingresa el importe a recargar">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Lorem">
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                        </mat-select>
                                        <mat-hint align="start" matTooltip="Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field hideRequiredMarker>
                                        <input matInput placeholder="Lorem" required/>
                                        <mat-hint align="start" matTooltip="Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                </div>

                                <div class="card-column-2">
                                    <mat-form-field>
                                        <mat-select placeholder="Lorem Canal">
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                        </mat-select>
                                        <mat-hint align="start" matTooltip="Selecciona el Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Lorem">
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                        </mat-select>
                                        <mat-hint align="start" matTooltip="Lorem">+
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Lorem">
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                            <mat-option value="option">Lorem</mat-option>
                                        </mat-select>
                                        <mat-hint align="start" matTooltip="Selecciona el tipo de operativa">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="card-column-3">
                                    <mat-form-field hideRequiredMarker>
                                        <input matInput placeholder="Lorem" required/>
                                        <mat-hint align="start" matTooltip="Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field hideRequiredMarker>
                                        <input matInput placeholder="Lorem" required/>
                                        <mat-hint align="start" matTooltip="Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field hideRequiredMarker>
                                        <input matInput placeholder="Lorem" required/>
                                        <mat-hint align="start" matTooltip="Lorem">
                                            <p>+ Info</p>
                                        </mat-hint>
                                    </mat-form-field>
                                    <div class="button-row"></div>

                                    <button mat-raised-button end color="primary" matTooltip="Lorem">
                        Lorem
                    </button>
                                </div>
                            </div>

                            <mat-list>
                                <mat-list-item>
                                    <h2 style="margin-bottom: 0;">Lorem</h2>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </mat-card>
        </div>
    </div>