    .header {
        padding-top: 3.34vh;
        box-sizing: border-box;
        border-bottom: 1px #e5e5e5 solid;
    }
    
    .content-padder {
        margin-left: 0px;
    }
    
    .content-background {
        min-height: calc(100% - 80px);
        background-color: #F0F0F0;
    }
    /* Sizes and distances of Inputs */
    
    .mat-form-field {
        padding-top: 2vh;
        width: 100%;
    }
    
    .button-row {
        padding-top: 3.34vh;
    }
    
    .mat-tab-fix {
        /* Fix to the tab problem (El scroll subía al clickar en alguna de las tabs) */
        min-height: 800px;
    }
    /* Flexbox styles for Cards and Columns */
    
    .card-layout {
        max-width: 1000px;
        background-color: #ffffff;
        margin: auto;
        /* line-height: 1.65; */
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .card-column-1 {
        flex: 1;
        padding: 10px;
        margin-bottom: 20px;
        flex-basis: 30%;
    }
    
    .card-column-2 {
        flex: 1;
        padding: 10px;
        margin-bottom: 20px;
        flex-basis: 30%;
    }
    
    .card-column-3 {
        flex: 1;
        padding: 10px;
        margin-bottom: 20px;
        flex-basis: 30%;
    }
    /* .box {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      width:640px;
      text-align:center;
  } */
    
    /deep/ .mat-tab-body {
        /* Removing the scrollbar from the Tabs card */
        overflow-y: hidden !important;
    }
    
    .mat-tab-body-content {
        height: 100%;
    }