input,textarea,select{
    font-weight: bold;
    color: black;
  }
  mat-select{
    color:black;
  }

  bg-this{
    background-color: #70a1ff;
background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
  }