mat-card-content {
    background-color: white;
    padding: 0em;
}

mat-card {
    margin: 2em;
}

;
mat-form-field {
    //background-color: white;
}

;
mat-card-title {
    text-align: center;
    color: crimson;
}

;