<div class="col-md-12 p-2">
    <mat-card>
        <mat-toolbar class="bg-light">
            <mat-toolbar-row>
                <button mat-mini-fab>{{f.h.id}}</button> <span class="pl-2 text-primary">Employee</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="simsSave()" *ngIf="formState=='form' && !f.h.id"><mat-icon>save</mat-icon></button>
                <button mat-icon-button (click)="simsUpdate(f.h.id)" *ngIf="formState=='form' && f.h.id>0"><mat-icon>save_alt</mat-icon></button>
                <button mat-icon-button (click)="simsPrint()" *ngIf="f.h.id">
<mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
</button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
<mat-icon>more_vert</mat-icon>
</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="simsNew()" *ngIf="formState=='form' && f.h.id"><mat-icon>notifications_off</mat-icon><span>New</span></button>

                    <button mat-menu-item>
<mat-icon>mail</mat-icon>
<span>Send Mail</span>
</button>
                    <button mat-menu-item disabled>
<mat-icon>voicemail</mat-icon>
<span>Save as PDF</span>
</button>
                    <button mat-menu-item (click)="simsPreview()" *ngIf="formState=='form' && f.h.id"><mat-icon>pageview</mat-icon><span>Preview</span></button>
                    <button mat-menu-item (click)="simsList()" *ngIf="formState=='form'"><mat-icon>notifications_off</mat-icon><span>List</span></button>

                    <button mat-menu-item (click)="simsNew()" *ngIf="formState=='list'"><mat-icon>notifications_off</mat-icon><span>New</span></button>

                    <button mat-menu-item (click)="simsDelete(f.h.id)" *ngIf="formState=='form'"><mat-icon>notifications_off</mat-icon><span>Delete</span></button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card-content *ngIf="formState=='form'">
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="employee" [(ngModel)]="f.h.employee" class="font-weight-bold">
                <input type="hidden" [(ngModel)]="id">
            </mat-form-field>


            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Employee Code" type="number" [(ngModel)]="f.h.employee_code" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Date of Birth" type="date" [(ngModel)]="f.h.dob" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.employee_category_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i>Employee  Category</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.employee_category" placeholder="Select Employee Category" (ngModelChange)="employee_categoryFilter($event);" [matAutocomplete]="employee_categories" class="font-weight-bold">

                <mat-autocomplete #employee_categories="matAutocomplete" autoActiveFirstOption (optionSelected)="employee_categorySelect($event)">
                    <mat-option *ngFor="let emp of filteredEmployee_categories" [value]="emp">
                        {{emp.employee_category}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.shift_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i> Shift</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.shift" placeholder="Select Shift" (ngModelChange)="shiftFilter($event);" [matAutocomplete]="shifts" class="font-weight-bold">

                <mat-autocomplete #shifts="matAutocomplete" autoActiveFirstOption (optionSelected)="shiftSelect($event)">
                    <mat-option *ngFor="let s of filteredShifts" [value]="s">
                        {{s.shift}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.department_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i>Department</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.department" placeholder="Select Department" (ngModelChange)="departmentFilter($event);" [matAutocomplete]="departments" class="font-weight-bold">
                <mat-autocomplete #departments="matAutocomplete" autoActiveFirstOption (optionSelected)="departmentSelect($event)">
                    <mat-option *ngFor="let d of filteredDepartments" [value]="d">
                        {{d.department}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.designation_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i> Designation</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.designation" placeholder="Select Designation" (ngModelChange)="designationFilter($event);" [matAutocomplete]="designations" class="font-weight-bold">

                <mat-autocomplete #designations="matAutocomplete" autoActiveFirstOption (optionSelected)="designationSelect($event)">
                    <mat-option *ngFor="let p of filteredDesignations" [value]="p">
                        {{p.designation}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.branch_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i> Branch</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.branch" placeholder="Select Branch" (ngModelChange)="branchFilter($event);" [matAutocomplete]="branches" class="font-weight-bold">

                <mat-autocomplete #branches="matAutocomplete" autoActiveFirstOption (optionSelected)="branchSelect($event)">
                    <mat-option *ngFor="let p of filteredBranches" [value]="p">
                        {{p.branch}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Open Balance" [(ngModel)]="f.h.opn_bal" class="font-weight-bold">
            </mat-form-field>



            <mat-form-field class="col-md-3 p-2">
                <textarea matInput placeholder="Narration" [(ngModel)]="f.h.narration" class="font-weight-bold"></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Father Name" [(ngModel)]="f.h.father_name" class="font-weight-bold">
            </mat-form-field>


            <mat-form-field class="col-md-3">
                <mat-label>Gender</mat-label>
                <select matNativeControl required [(ngModel)]="f.h.gender">
<option value="male">Male</option>
<option value="female">Female</option>

</select>
            </mat-form-field>


            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Present Address" [(ngModel)]="f.h.present_address" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Permanant Address" [(ngModel)]="f.h.permanent_address" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3">
                <mat-label>Marital Status</mat-label>
                <select matNativeControl required [(ngModel)]="f.h.marital_status">
<option value="yes">Yes</option>
<option value="no">no</option>

</select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Employee Status</mat-label>
                <select matNativeControl required [(ngModel)]="f.h.emp_status">
    <option value="yes">Active</option>
    <option value="suspend">suspend</option>
    <option value="resign">resign</option>
    <option value="terminate">terminate</option>
    
    </select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Have Vehicle</mat-label>
                <select matNativeControl required [(ngModel)]="f.h.have_vehicle">
<option value="yes">Yes</option>
<option value="no">no</option>

</select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Driving license</mat-label>
                <select matNativeControl required [(ngModel)]="f.h.driving_license_no">
<option value="yes">Yes</option>
<option value="no">no</option>

</select>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Expected Salary" [(ngModel)]="f.h.expected_salary" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Expected Designation" [(ngModel)]="f.h.expected_designation" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input type="number" matInput placeholder="UAN Code" [(ngModel)]="f.h.uno_code" class="font-weight-bold">
            </mat-form-field>



            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Appointed By" [(ngModel)]="f.h.appointed_id" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Authourized By" [(ngModel)]="f.h.authorized_id" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Email" [(ngModel)]="f.h.email" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="phone" [(ngModel)]="f.h.phone" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Mobile" [(ngModel)]="f.h.mobile" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input type="date" matInput placeholder="Join Date" [(ngModel)]="f.h.joined" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input type="date" matInput placeholder="Resign Date" [(ngModel)]="f.h.resign_date" class="font-weight-bold">
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="ESI NO" [(ngModel)]="f.h.esino" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="PF NO" [(ngModel)]="f.h.pfno" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="PAN NO" [(ngModel)]="f.h.panno" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="ADHAR NO" [(ngModel)]="f.h.adharno" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Salary" [(ngModel)]="f.h.salary" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Basic" [(ngModel)]="f.h.basic" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="OT" [(ngModel)]="f.h.ot" class="font-weight-bold">
            </mat-form-field>


            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.shift_id_compliance">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i> Shift Compliance</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.shift_compliance" placeholder="Select Shift Compliance" (ngModelChange)="shift_complianceFilter($event);" [matAutocomplete]="shift_compliances" class="font-weight-bold">
                <mat-autocomplete #shift_compliances="matAutocomplete" autoActiveFirstOption (optionSelected)="shift_complianceSelect($event)">
                    <mat-option *ngFor="let p of filteredShift_compliances" [value]="p">
                        {{p.shift}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input type="hidden" [(ngModel)]="f.h.bank_id">
                <mat-label>
                    <mat-icon>people</mat-icon> <b> Party</b> <i> Bank</i></mat-label>
                <input matInput type="text" [(ngModel)]="f.h.bank" placeholder="Select bank" (ngModelChange)="bankFilter($event);" [matAutocomplete]="banks" class="font-weight-bold">

                <mat-autocomplete #banks="matAutocomplete" autoActiveFirstOption (optionSelected)="bankSelect($event)">
                    <mat-option *ngFor="let p of filteredBanks" [value]="p">
                        {{p.bank}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Account Name" [(ngModel)]="f.h.bankacname" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Account Number" [(ngModel)]="f.h.bankacno" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="IFSC Code" [(ngModel)]="f.h.ifsc_code" class="font-weight-bold">
            </mat-form-field>
            <mat-form-field class="col-md-3 p-2">
                <input matInput placeholder="Bank Branch" [(ngModel)]="f.h.bank_branch" class="font-weight-bold">
            </mat-form-field>

        </mat-card-content>

        <!-- 

        <mat-card-content *ngIf="formState=='form'">
            <mat-label class="h5 text-primary">Employee Qulaification</mat-label>
            <div class="p-2 col-md-12" style="overflow-y:auto">
                <table mat-table [dataSource]="qualifications" class="col-md-12 table-bordered">
                    <ng-container matColumnDef="degree">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Degree </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input matInput type="text" [(ngModel)]="f.i[i].degree">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="college">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> College </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="text" matInput [(ngModel)]="f.i[i].college">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="passout">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Passout </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="number" matInput [(ngModel)]="f.i[i].passout">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Class </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input matInput [(ngModel)]="f.i[i].class">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> City </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="text" matInput [(ngModel)]="f.i[i].city">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="" style="width:30px;">
                            <a (click)="inventoryAdd()" href="javascript:" class="text-success">
                                <mat-icon>add_circle</mat-icon>
                            </a>
                        </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <a (click)="inventoryRemove(i)" href="javascript:" class="text-danger">
                                <mat-icon aria-label="icon-button with a heart icon">remove_circle</mat-icon>
                            </a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns" class="example-first-header-row bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row bg-light"></tr>
                </table>
            </div>
        </mat-card-content> -->-->

        <!-- 

        <mat-card-content *ngIf="formState=='form'">
            <mat-label class="h5 text-primary">Employee Experiences</mat-label>
            <div class="p-2 col-md-12" style="overflow-y:auto">
                <table mat-table [dataSource]="experiences" class="col-md-12 table-bordered">
                    <ng-container matColumnDef="organization">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Organization </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input matInput type="text" [(ngModel)]="f.e[i].organization">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Designation </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="text" matInput [(ngModel)]="f.e[i].designation">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="date_from">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Date from </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="date" matInput [(ngModel)]="f.e[i].date_from">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="date_to">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Date To </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="date" matInput [(ngModel)]="f.e[i].date_to">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="experience">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Experience </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="number" matInput [(ngModel)]="f.e[i].experience">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="salary">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Salary </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="number" matInput [(ngModel)]="f.e[i].salary">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="" style="width:30px;">
                            <a (click)="add()" href="javascript:" class="text-success">
                                <mat-icon>add_circle</mat-icon>
                            </a>
                        </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <a (click)="remove(i)" href="javascript:" class="text-danger">
                                <mat-icon aria-label="icon-button with a heart icon">remove_circle</mat-icon>
                            </a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    The table will render two header rows, one data row per data object, and two footer rows. -->
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnse" class="example-first-header-row bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnse;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnse" class="example-first-footer-row bg-light"></tr>
                </table>
            </div>
        </mat-card-content> -->
        <!-- 
        <mat-card-content *ngIf="formState=='form'">
            <mat-label class="h5 text-primary">Employee Family</mat-label>
            <div class="p-2 col-md-12" style="overflow-y:auto">
                <table mat-table [dataSource]="families" class="col-md-12 table-bordered">
                    <ng-container matColumnDef="person_name">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Person Name </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input matInput type="text" [(ngModel)]="f.t[i].person_name">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="dob">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> DOB </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="date" matInput [(ngModel)]="f.t[i].dob">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="relationship">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Relationship </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="text" matInput [(ngModel)]="f.t[i].relationship">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="occupation">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Occupation </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input matInput [(ngModel)]="f.t[i].occupation">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Age </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <mat-form-field class=""><input type="number" matInput [(ngModel)]="f.t[i].age">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="" style="width:30px;">
                            <a (click)="plus()" href="javascript:" class="text-success">
                                <mat-icon>add_circle</mat-icon>
                            </a>
                        </th>
                        <td mat-cell *matCellDef="let inventory;let i=index">
                            <a (click)="minus(i)" href="javascript:" class="text-danger">
                                <mat-icon aria-label="icon-button with a heart icon">remove_circle</mat-icon>
                            </a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

  The table will render two header rows, one data row per data object, and two footer rows. -->
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsf" class="example-first-header-row bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsf;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsf" class="example-first-footer-row bg-light"></tr>
                </table>
            </div>
        </mat-card-content> -->

        <mat-card-content *ngIf="formState=='list'">
            <div class="p-2 col-md-12">
                <table mat-table [dataSource]="lists" class="col-md-12 table-bordered">
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> S No </th>
                        <td mat-cell *matCellDef="let row:let i=index" class="text-center">{{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Vou No </th>
                        <td mat-cell *matCellDef="let row" class="text-center">{{row.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="employee">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Employee </th>
                        <td mat-cell *matCellDef="let row" class="text-center">{{row.employee}}</td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="simsView(row.id)"><mat-icon>edit</mat-icon></button>

                        </td>
                    </ng-container>

                    <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
                    <tr mat-header-row *matHeaderRowDef="listColumns" class="example-first-header-row bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
                </table>
            </div>
        </mat-card-content>


    </mat-card>



</div>