<div class="col-md-4 offset-md-4 p-1 bg-light" *ngIf="isForm">
  <div class="col-md-12 border">
  <div class="row">
  <div class="col-md-12 bg-warning  card-header-ss"><h6 class="h6-ss text-dark  text-uppercase">Fabric Invoice</h6></div>
  <form class="" [formGroup]="headForm">
  <div class="col-md-12 p-1 bg-white">
  <div class="row">
  <input type="hidden" class="form-control font-weight-bold" formControlName="id" #id>
  
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text ledger-text">Ledger </span>
    </div>
    <input type="text" class="form-control"  formControlName="ledger" [matAutocomplete]="ledger">
    
    <mat-autocomplete #ledger="matAutocomplete">
    <mat-option *ngFor="let ledger of ledgers" [value]="ledger.ledger" (click)="ledgerSelect(ledger)">
    {{ledger.ledger}}
    </mat-option>
    </mat-autocomplete>
    </div>
  
  <div class="input-group input-group-sm col-6">
  <div class="input-group-prepend">
  <span class="input-group-text ">Vou Date</span>
  </div>
  <input type="date" class="form-control font-weight-bold" formControlName="vou_date">
  <div class="input-group-append">
  </div>	
  </div>
  
  <div class="input-group input-group-sm col-6 pl-1">
  <div class="input-group-prepend">
  <span class="input-group-text ">ID</span>
  </div>
  <input type="number" class="form-control font-weight-bold" formControlName="id">
  <div class="input-group-append">
  </div>		
  </div>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text ">Narration</span>
    </div>
    <input type="text" class="form-control font-weight-bold" formControlName="narration">
    </div>
    <div class="col-md-6 col-6">
      <div class="input-group input-group-sm col-md-12 col-12">
      <div class="input-group-prepend">
      <span class="input-group-text ">Process</span>
       </div>
         <select class="form-control" formControlName="process_id">
         <option value=""></option>
         <option value="igst">IGST</option>
         <option value="cgst">CGST</option>
         <option value="sgst">SGST</option>
         <option value="roundoff">Round Off</option>
         <option value="discount">Discount</option>
      </select>
    </div> 
    </div>
    <div class="col-md-6 col-6">
      <div class="input-group input-group-sm col-md-12 col-12">
      <div class="input-group-prepend">
      <span class="input-group-text ">Order No</span>
       </div>
         <select class="form-control" formControlName="order_id">
         <option value=""></option>
         <option value="igst">IGST</option>
         <option value="cgst">CGST</option>
         <option value="sgst">SGST</option>
         <option value="roundoff">Round Off</option>
         <option value="discount">Discount</option>
      </select>
    </div> 
    </div>
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
      <span class="input-group-text ">Ref No</span>
      </div>
      <input type="text" class="form-control font-weight-bold" formControlName="refno">
      </div>
       
  
  <div class="col-md-12 col-12 pt-1">
  <table id="tbl-shift" class="table table-sm table-bordered border border-primary bg-light">
  <thead>
  <tr class="bg-heading">
  <th class="text-center">Fabric</th>
  <th class="text-center">Color</th>	
  <th class="text-center">Gsm</th>
  <th class="text-center">Dia</th>
  <th class="text-center">Weight</th>
  <th class="text-center">Rolls</th>
  <th class="text-center">Rate</th>
  <th class="text-center">Amount</th>

  
  <th class="text-text" style="width: 20px;">
  <a href="javascript:" (click)="addInventory(0)"><i class="material-icons text-success" style="font-size:18px">add_box</i></a>
  </th>
  </tr>
  </thead>
  <tbody class="part1" formArrayName="inventory">
  <tr class=""  *ngFor="let timing of inventory.controls; let i = index;" [formGroupName]="i">
  <th class="text-center"><input type="hidden" formControlName="fabric"  /><input type="text" class="form-control text-left" formControlName="fabric" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="color" /></th>
  
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="gsm" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="dia" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="weight" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="roll" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="rate" /></th>
  <th class="text-center"><input type="text" class="form-control text-left" formControlName="amount" /></th>
  <th class="text-text" style="width: 20px;"><a href="javascript:" (click)="deleteInventory(i)"><i class="material-icons text-danger" style="font-size:18px">indeterminate_check_box</i></a></th>
  </tr>
  </tbody>
  <tfoot></tfoot>
  </table>
  </div>
 
  </div>
  </div>
  </form>
  <div class="text-center bg-light col-12">
          <a class="ml-1 bg-success" mat-mini-fab (click)="simsInsert()" *ngIf="!id.value"><mat-icon>add</mat-icon></a>
          <a  class="ml-1 bg-success"  mat-mini-fab  (click)="simsUpdate(id.value)" *ngIf="id.value"><mat-icon>edit</mat-icon></a>
          <a class="ml-1" mat-mini-fab color="primary" (click)="simsList()" title="List" accesskey="l"><mat-icon>list</mat-icon></a>
          <a  class="ml-1 bg-danger" mat-mini-fab *ngIf="id.value" (click)="simsDelete(id.value)" title="Delete"><mat-icon class="">delete</mat-icon></a>
          <a  class="ml-1"  mat-mini-fab routerLink="." (click)="simsNew()"><mat-icon>open_in_new</mat-icon></a>
          </div>
  </div>
  </div>
  </div>
  
  <div class="List" *ngIf="!isForm">
  <table id="tblLists" class="table table-sm table-bordered border border-primary bg-light">
  <thead>
  <tr class="bg-heading">
  <td class="text-center">Shift</td>
  <td class="text-center">Action</td>
  </tr>
  </thead>
  <tbody class="part1">
  <tr class="" *ngFor="let row of rows">
  <td class="text-center">{{row.shift}}</td>
  <td class="text-center"><a href="javascript:" (click)="simsView(row.id)"><mat-icon>edit</mat-icon></a></td>
  </tr>
  </tbody>
  </table>
  </div>
  