/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
  mat-icon{
    vertical-align: middle !important;
}

.mat-list-base .mat-list-item{
font-size: small;
}


.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 0px !important;
  
}
.mat-card-actions {
   margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 2px 0 !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height:35px !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
 
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  margin-top: auto;
}


.bg-login{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 50s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 50s ease infinite  
}


.bg-body{
/*  background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(165, 216, 235), rgb(172, 241, 225));
  background-size: 400% 400%;*/
  -webkit-animation: Gradient 50s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 50s ease infinite  
}

.blurred-box {
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(5px);
}

.mat-mini-fab .mat-button-wrapper{
  padding: 0px 0px !important;
}
.mat-icon {
  margin-top: 0px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 20px 4px !important;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fa-loading-bg,.fa-loading-icon-wrapper{
  position:absolute;left:0;width:100%;height:100%}
  .fa-loading-bg{
  top:0;background:rgba(0,0,0,.6);z-index:99999}
  .fa-loading-icon-wrapper{
  z-index:999999;top:50%;text-align:center
  }
  .fa-loading-icon{
  margin-top:-2.5em;font-size:5em;color:#fff
  }
  
  #progress-wrp {
    border: 1px solid #0099CC;
    position: relative;
    height: 5px;
    text-align: left;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
  }
  .btn-circle{
    border-radius: 50%;
  }
  .btn-group-sm>.btn, .btn-xs {
      padding: .15rem .30rem;
      line-height: 1.5;
  }
  #progress-wrp .progress-bar {
    height: 100%;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
  #progress-wrp .status {
    left: 50%;
  margin-top: -3px;
    position: absolute;
    display: inline-block;
    color: #000000;
  }
  body {
    font-family: sans-serif;
    font-size: 13px;
    color: black;
  }
  .vertical-align-middle { 
      vertical-align: middle; 
  }
  .navbar{
    padding:.1em .5em;
  }
  .statusIcoDiv a:link{
    color:black;
  }
  .padding-bottom-3 {
      padding-bottom: 3px;
  }
  .alert {
    margin-bottom: 0px;
    padding: 2px 5px!important;
  }
  .alert-dismissible .close {
    padding: 2px 5px!important;	
  }
  .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
    padding: 2px 3px !important;
  }
  .table{
    margin-bottom: 0px;
  }
  .table input {
    background-color: transparent !important;
    border: 0px;
  }
  .container{
    background-color:#e9ecef;
    padding-top: .25rem !important;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: 0px;
  }
  .row{
    padding-top: 0px;
    margin-left:0px;
    margin-right: 0px;
  }
  .form-control{
  }
  .table .form-control{
    border:none !important;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    height: 25px !important;
    padding:0px;
    
  }
  .table td{
    vertical-align: middle;
  }
  .table .input-group-sm>.form-control{
    padding:0px !important;
  }
  .table-sm td, .table-sm th{
    padding:2px 3px !important;
  }
  .loading-circle{    
      background-image: url("http://loadinggif.com/images/image-selection/3.gif");
      background-size: 20px 20px;
      background-position:center center;
      background-repeat: no-repeat;
  }
  .loading ,.ui-autocomplete-loading  {    
      background-color: #ffffff;
      background-image: url("http://loadinggif.com/images/image-selection/3.gif");
      background-size: 25px 25px;
      background-position:right center;
      background-repeat: no-repeat;
  }
  
  .page-loading {    
      background-image: url("http://loadinggif.com/images/image-selection/3.gif");
      background-position:center center;
      background-repeat: no-repeat;
   z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .input-validate-true{
      background-size: 15px 15px;
      background-position:right center;
      background-repeat: no-repeat;
      background-image: url("http://api.simsys.org/public/assets/image/tick.svg");
    color:#28a745;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  .bg-heading{
    background-color: #c3cbdc;
background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);

  }
  .card-header-ss {
    padding: 3px 5px !important;
  }
  
  .h6-ss{
        margin-bottom: 0px !important;
    font-weight: bold;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 0px;
    padding-right: 0px;	
  }
  .input-group-text {
    /*border-bottom: 1px solid white;*/
  }
  .form-label-group input:not(:placeholder-shown) {
    color: black !important;
  }
  
  .input-group-prepend {
      min-width:30%;
  }
  .input-group{
    padding-top: 3px;
  }
  .ui-autocomplete {
              max-height: 200px;
              overflow-y: auto;
              /* prevent horizontal scrollbar */
              overflow-x: hidden;
              /* add padding to account for vertical scrollbar */
            /*  padding-right: 20px;*/
          } 
  .input-group-prepend .input-group-text{
    width: 100%;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    
    
  }
  .mat-list-base {
    padding-top: 0px !important;
  }
  .input-group-text {
    color: black;
    text-align: right;
  }
  .form-control {
    color: black;
  }
  .form-control:focus, .table>.input-group-sm>.form-control:focus, #txtSearch:focus {
    box-shadow: none;
    border: 1px #FF0004;
    background-color:#ffc107 !important;
    color: black;
  }
  @media (min-width:1200px){
    .container{
      max-width:100%;
    }
    body{
      padding-top: 50px;
    }
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  @media screen {
    .example-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .mat-card{
      padding: 2px !important;
    }
          
    }
    
  @media print {
    app-root > * { display: none; }
    .isPrinting > * { display: none; }
    .isPrinting app-print-layout { display: block; }    
    app-root app-print-layout { display: block; }
  }